<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244086584068-ncvoo3ccc0ajlhkieod88v288c39csfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244086584068-ncvoo3ccc0ajlhkieod88v288c39csfb</string>
	<key>API_KEY</key>
	<string>AIzaSyAeckPQHVgE77hqInDVm0qhd5RQuy5yw3g</string>
	<key>GCM_SENDER_ID</key>
	<string>244086584068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AutoMate</string>
	<key>PROJECT_ID</key>
	<string>automate-f7aad</string>
	<key>STORAGE_BUCKET</key>
	<string>automate-f7aad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244086584068:ios:1acc5976310d599a18d651</string>
</dict>
</plist>